<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>litewait.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>266D7BAD2165714700CB35B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>266D7BC12165714A00CB35B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>266D7BCC2165714A00CB35B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
